@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Blanco */
    --background: 0 0% 100%;
    /* Negro Azulado */
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    /* Slate 950 */
    --background: 222.2 84% 4.9%;
    /* Slate 50 */
    --foreground: 210 40% 98%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}